$body:#F9FAFF;
$accent: #ff6838;
$btn-bg:#ff7a50;
$default: #363853;
$forms:#c2c2c2;
$dark:#31352b;
$silver:#ECECEC;
$white: #ffffff;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-i-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


%flex-jc-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-jc-sa-ai {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%flex-jc-c-ai {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


