$body:#F9FAFF;
$accent: #FF6838;
$default: #363853;
$forms:#C2C2C2;
$dark:#31352B;
$silver:#ECECEC;
$white: #ffffff;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubiik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


%flex-jc-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

