@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.logo {

  &:focus {
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header-logo {
  margin-right: auto;
}

.menu {
  @extend %flex-jc-ai;
  margin-right: 54px;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    color: $default;
    font-size: 18px;
    outline: transparent;
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;

    &:hover {
      color: $accent;
    }

    &:focus {
      border-radius: 5px;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
    }

    &:active {
      color: #31352B;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    }
  }

  &__link--main {
    color: $accent;
  }

}

.user-nav {
  @extend %flex-jc-ai;

  &__btn {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: relative;
    outline: transparent;
    transition: stroke 0.3s, color 0.3s, background-color 0.3s;

    &:hover {
      width: 44px;
      height: 44px;
      stroke: $white;
      background-color: #FF7A50;
      border-radius: 5px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
      background: rgba(255, 122, 80, 0.10);
    }

    &:active {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0);
    }
  }


  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__btn:hover svg ellipse,
  &__btn:hover svg path,
  &__btn:hover .user-nav__num {
    stroke: $white;
    color: $accent;
    background-color: $white;
  }

  &__btn:active svg ellipse,
  &__btn:active svg path,
  &__btn:active .user-nav__num {
    stroke: $default;
    color: $white;
    background-color: $accent;
  }

  &__num {
    font-size: 10px;
    color: $white;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 8px;
    right: 4px;
    background-color: $accent;
  }
}

.hero-content--top {
  padding-top: 0;
}

.hero-content {

  &__inner {
    @extend %flex-jc-ai;
  }

  &__info {
    max-width: 450px
  }

  &__title {
    color: $default;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 1.3;
    @extend %rubik-500;
  }

  &__subtitle {
    display: block;
    color: $accent;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2.5;
    margin-bottom: 20px;
    @extend %rubik-500;
  }

  &__deckr {
    color: $dark;
    margin-bottom: 20px;
  }

  &__btn-link {
    color: $white;
    background-color: $accent;
    padding: 14px 36px;
    border-radius: 6px;
    font-size: 18px;
    margin-right: 35px;
  }

  &__link {
    color: $default;
    text-decoration: underline;
    outline: transparent;
    transition: color 0.3s;

    &:focus {
      border-radius: 5px;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
      text-decoration: none;
    }

    &:hover {
      color: $accent;
      text-decoration: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
      color: $default;
    }
  }

  &__btn {
    margin-right: 30px;
  }

  &__img {
    width: 100%;
    width: 560px;
    height: 660px;
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

}

.title {
  text-align: center;
  color: $default;
  font-size: 36px;
  @extend %rubik-500;
  line-height: 1.3;
  margin-bottom: 60px;
}

.popular-categories {
  text-align: center;

  &__filter {
    display: flex;
  }

  &__filter-item {
    margin-right: 20px;
  }

  &__filter-btn {
    margin-bottom: 45px;
  }

  &__filter-btn {
    padding: 2px 29px 18px 29px;
    border-radius: 5px;
    background-color: $white;
    border: none;
    box-shadow: 0 0 0 1px $silver;
    line-height: 1.3;
    cursor: pointer;
    outline: transparent;
    transition: color 0.3s, background-color 0.3s, fill 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
    }

    &:hover {
      color: $accent;
      background-color: rgba(255, 122, 80, 0.10);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
    }

    &:hover svg path {
      fill: $accent;
    }

    &:active {
      color: $default;
      background-color: $white;
      box-shadow: 0px -5px 12px 0px rgba(255, 104, 56, 0.20) inset;
    }

    &:active svg path {
      fill: black;
    }
  }

  &__filter-btn:not(:last-child) {
    margin-right: 20px;
  }

  &__filter-btn svg {
    display: inline-flex;
    transform: translateY(15px);
    margin-right: 10px;
  }

  .mixitup-control-active {
    background-color: $accent;
    color: $white;
  }

  .mixitup-control-active svg path {
    fill: $white;
  }

  &__filter-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }

  &__more {
    color: $default;
    text-decoration-line: underline;
    outline: transparent;
    transition: color 0.3s, text-shadow 0.3s;

    &:focus {
      border-radius: 5px;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
    }

    &:hover {
      color: $accent;
      text-decoration: none;
    }

    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 15px;
  max-width: 210px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid $silver;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 0px 1px $accent;
  }

  &__img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    margin: 0 auto;
    max-width: 140px;
    height: fit-content;
    padding-bottom: 10px;
  }

  &__title {
    color: $dark;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;
  }

  &__price {
    color: $default;
    font-size: 15px;
    @extend %rubik-500;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: auto;
  }

  &__btn {
    display: block;
    color: $white;
    background-color: $accent;
    font-size: 14px;
    line-height: 1.3;
    border: none;
    border-radius: 6px;
    padding: 7px 16px;
    cursor: pointer;
  }
}

.footer-top {
  display: flex;
  padding-bottom: 60px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    width: fit-content;
  }

  &__item {
    margin-right: 75px;
  }

  &__logo {
    display: block;
    padding: 3px 0;
    margin-bottom: 25px;
  }

  &__list-item {
    margin-bottom: 10px;
  }
}

.subscribe {
  max-width: 200px;

  &__input {
    width: 100%;
    border: 1px solid $forms;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 12px;
    outline: transparent;

    &::placeholder {
      color: $forms;
      line-height: 1.3;
      font-size: 14px;
      transition: color 0.3s;
    }
  }

  &__input:focus {
    box-shadow: 0 0 0 2px $accent;
    border: 1px solid transparent;
  }

  &__input:hover::placeholder {
    color: $default;
  }

  &__btn {
    width: 100%;
    padding: 13px 6px;
    font-size: 14px;
  }

  &__btn svg {
    display: inline-flex;
    margin-right: 15px;
    transform: translateY(3px);
  }

  &__btn:focus svg path {
    fill: $accent;
  }

  &__btn:hover svg path {
    fill: $accent;
  }

  &__list-item {
    margin-bottom: 10px;
  }

  &__list-link {
    color: $dark;
    font-size: 18px;
    line-height: 1.3;
  }

}

.address {
  margin-left: 75px;

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    color: $dark;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
  }

  &__link::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 0;
    top: 0;
  }

  &__link--location::before {
    background-image: url('../images/footer_img/icon-location.svg');
    width: 15px;
    height: 18px;
  }

  &__link--call::before {
    background-image: url('../images/footer_img/icon-call.svg');
    width: 19px;
    height: 19px;
  }

  &__link--email::before {
    background-image: url('../images/footer_img/icon-message.svg');
    width: 20px;
    height: 18px;
  }
}

.social-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ECECEC;
    border-radius: 50%;
    outline: transparent;
    transition: background-color 0.3s, fill 0.3s;
  
  &:focus {
    background-color: rgba(255, 122, 80, 0.10);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
  }

  &:hover {
    background-color: $accent;
  }

  &:hover svg path {
    fill: $white;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.10);
    box-shadow: none;
  }

  &:active svg path {
    fill: $accent;
  }
  }
}

.footer-copy {
  padding: 30px 0;
  border-top: 1px solid #eeeff3;
  text-align: center;
}

.footer-copy__text {
  color: $dark;
  font-size: 14px;
  line-height: 1;
}