@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixin';
@import 'global';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 777;
  padding: 60px 0;
  transition: padding 0.3s, background-color 0.3s;

  &--fixed {
    background-color: $white;
    padding: 10px 0;
    box-shadow: 0 0 0 2px rgba($accent, 0.20);
  }

  &__logo {
    margin-right: auto;
  }
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &__img {
    object-fit: contain;
  }

  &:focus {
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba($accent, 0.70);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  @extend %flex-jc-ai;
  margin-right: 54px;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;

    &:active {
      color: $dark;
    }
  }

  &__link--main {
    color: $accent;
  }
}

.user-nav {
  @extend %flex-jc-ai;

  &__btn {
    width: 44px;
    height: 44px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: stroke 0.3s, color 0.3s, background-color 0.3s;

    &:hover svg {
      stroke: $white;
    }

    &:hover {
      stroke: $white;
      background-color: $btn-bg;
    }

    &:hover .user-nav__num {
      background-color: $white;
      color: $accent;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
      background: rgba(255, 122, 80, 0.10);
    }

    &:active {
      box-shadow: 0 0 0 2px rgba($accent, 0);
    }
  }

  &__btn svg {
    width: 19px;
    height: 19px;
    fill: transparent;
    stroke: $dark;
  }



  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__num {
    font-size: 10px;
    color: $white;
    position: absolute;
    padding: 1px 6px;
    border-radius: 30px;
    top: 4px;
    left: 24px;
    background-color: $accent;
  }
}

.hero-content {
  padding-top: 160px;

  &__inner {
    @extend %flex-jc-ai;
  }

  &__info {
    max-width: 450px
  }

  &__title {
    color: $default;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 1.3;
    @extend %rubik-500;
    margin-bottom: 20px;
  }

  &__subtitle {
    display: block;
    color: $accent;
    letter-spacing: 2.5;
  }

  &__deckr {
    color: $dark;
    margin-bottom: 25px;
    @include line-clamp(3);
  }

  &__btn-link {
    margin-right: 35px;
  }

  &__img {
    width: 560px;
    height: 660px;
  }

  &__img {
    @extend %bg-img;
  }
}

.title {
  text-align: center;
  color: $default;
  font-size: 36px;
  @extend %rubik-500;
  line-height: 1.3;
  margin-bottom: 60px;
}

.popular-categories {
  text-align: center;

  &__filter {
    display: flex;
    margin-bottom: 41px;
    overflow-x: auto;
    padding: 2px 0 3px 2px;
  }

  &__filter-item {
    margin-right: 20px;
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    padding: 13px 36px;
    color: $default;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver;
    line-height: 1.3;
    transition: color 0.3s, background-color 0.3s, fill 0.3s;
    white-space: nowrap;

    &:focus {
      color: $default;
      background-color: $white;
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
    }

    &:focus .btn__svg {
      fill: $default;
    }

    &:hover {
      color: $accent;
      background-color: rgba(255, 122, 82, 0.10);
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
    }

    &:hover .btn__svg {
      fill: $accent;
    }

    &:active {
      color: $default;
      background-color: $white;
      box-shadow: 0 -5px 12px 0 rgba($accent, 0.20) inset;
    }

    &:active .btn__svg {
      fill: $default;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    .btn__svg {
      fill: black;
      transition: fill 0.3s;
      margin-right: 10px;
    }
  }

  .mixitup-control-active {
    background-color: $accent;
    color: $white;
    border-radius: 5px;

    .btn__svg {
      fill: $white;
    }
  }

  &__filter-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }

  &__more-link {
    &:focus {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 15px;
  width: 210px;
  height: 299px;
  border-radius: 5px;
  border: 1px solid $silver;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px $accent;
  }

  &__link {
    width: 140px;
    height: 140px;
  }

  &__img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &__title {
    color: $dark;
    font-size: 15px;
    @extend %rubik-400;
    line-height: normal;
    margin-bottom: 10px;
    @include line-clamp(2);
  }

  &__price {
    color: $default;
    font-size: 15px;
    @extend %rubik-500;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: auto;
  }

  &__btn {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 16px;
  }
}

.service {
  &__wrapp {
    @extend %flex-jc-sa-ai;
  }

  &__img {
    width: 440px;
    height: 585px;
    @extend %bg-img;
  }

  &__content {
    max-width: 470px;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__descr {
    color: $dark;
    margin-bottom: 20px;
    @include line-clamp(3);
  }

  &__list {
    margin-bottom: 35px;
  }

  &__item {
    font-size: 24px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item svg {
    margin-right: 25px;
    transform: translateY(8px);
  }

  &__btn {
    padding: 11px 36px;
  }
}

.restaurants {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__title {
    margin-bottom: 45px;
  }
}

.rest-card {
  max-width: 370px;
  height: 419px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.5);
  }

  &__img {
    width: 370px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }

  &__footer {
    padding: 20px;
  }

  &__title {
    color: $dark;
    font-size: 24px;
    @extend %rubik-400;
    line-height: 1.3;
    margin-bottom: 16px;
    @include line-clamp(1);
  }

  &__time {
    @extend %flex-jc-ai;
  }

  &__watch-svg {
    transform: translateY(3px);
    width: 22px;
    height: 22px;
  }

  &__btn {
    padding: 4px 32px;
    border-radius: 20px;
    margin-left: auto;

    &:focus svg {
      fill: $accent;
    }

    &:hover svg {
      fill: $accent;
      transform: translateX(20px);
    }

    &:active svg {
      transform: translateX(0);
      padding-top: 7px;
    }
  }

  &__btn svg {
    fill: $white;
    width: 14px;
    height: 12px;
  }
}

.reviews {

  &__slider {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__slider-item {
  
  }

  &__slider-inner {
    @extend %flex-jc-c-ai;
    margin-bottom: 40px;
  }

  &__arrow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #c3c3c3;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: -8px;
    left: 50%;
    transition: border 0.3s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
    }

    &:hover {
      border: 3px solid rgb(255, 174, 148);
      background-color: rgb(255, 242, 237);

      &:hover svg {
        filter: invert(96%) sepia(63%) saturate(4219%) hue-rotate(296deg) brightness(98%) contrast(104%);
      }
    }

    &:active {
      border: 3px solid transparent;
      box-shadow: none;
    }

    &--prev {
      transform: translateX(-115px);
    }

    &--next {
      transform: translateX(70px);
    }

  }

  &__arrow-svg {
    background-image: url('../images/sprite.svg#slider-prev-icon');
    width: 19px;
    height: 19px;
    filter: invert(77%) sepia(1%) saturate(0%) hue-rotate(167deg) brightness(100%) contrast(97%);
    @extend %bg-img-sprite;
    transform: translateY(2px);
    margin-right: 2px;

    &--next {
      margin: 5px 0 0 2px;
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    @extend %flex-jc-c-ai;

    li {
      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $forms;
        margin-right: 15px;
        transition: box-shadow 0.3s, background-color 0.3s;

        &:focus {
          box-shadow: 0 0 0 2px rgba($accent, 0.70);
        }

        &:hover {
          box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
          background-color: rgb(255, 242, 237);
        }

        &:active {
          background-color: rgb(255, 174, 148);
        }
      }

      &.slick-active {
        button {
          background-color: $accent;
        }
      }
    }
  }

  .slick-disabled {
    border: 3px solid $accent;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
    }

    &:hover {
      border: 3px solid rgb(255, 174, 148);
      background-color: rgb(255, 242, 237);
    }

    &:active {
      border: 3px solid transparent;
      box-shadow: none;
    }
  }

  .slick-disabled svg {
    filter: invert(56%) sepia(33%) saturate(4827%) hue-rotate(336deg) brightness(100%) contrast(102%);

    &:hover {
      filter: invert(96%) sepia(63%) saturate(4219%) hue-rotate(296deg) brightness(98%) contrast(104%);
    }
  }


  &__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 35px;
  }

  &__content {
    max-width: 650px;

  }

  &__descr {
    color: $dark;
    @extend %rubik-i-400;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    @include line-clamp(6);

    &::before,
    &::after {
      @include pseudo;
      background-image: url('../images/sprite.svg#quote');
      @extend %bg-img;
      filter: invert(77%) sepia(1%) saturate(0%) hue-rotate(167deg) brightness(100%) contrast(97%);
      width: 24px;
      height: 20px;
    }

    &::before {
      top: 0;
      left: 0;
      transform: scale(-1, 1);
    }

    &::after {
      bottom: 0;
      right: 0;
    }
  }

  &__author {
    display: block;
    color: $accent;
    @extend %rubik-500;
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-left: 40px;
  }

  &__author-info {
    display: block;
    color: $dark;
    font-size: 14px;
    line-height: 1.3;
    padding-left: 40px;
  }
}

.download-app {
  &__wrapp {
    @extend %flex-jc-ai;
  }

  &__content {
    max-width: 490px;
    height: 300px;
  }

  &__descr {
    margin-bottom: 30px;
    color: $dark;
    @include line-clamp(3);
  }

  &__title {
    text-align: left;
    margin-bottom: 45px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__images {
    width: 570px;
    height: 380px;
    object-fit: cover;
  }
}

.footer-top {
  display: flex;
  padding-bottom: 60px;
  gap: 5%;

  &__logo {
    display: block;
    padding: 3px 0;
    margin-bottom: 25px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 70px;
    row-gap: 20px;
    grid-auto-rows: 23px;
  }

  &__list-link {
    text-decoration: none;
  }
}

.subscribe {
  width: 100%;
  max-width: 200px;

  &__input {
    width: 100%;
    border: 1px solid $forms;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 12px;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 2px $accent;
      border: 1px solid transparent;
    }

    &:hover::placeholder {
      color: $default;
    }

    &::placeholder {
      color: $forms;
      line-height: 1.3;
      font-size: 14px;
      transition: color 0.3s;
    }
  }

  &__btn {
    width: 100%;
    padding: 13px 6px;
    font-size: 14px;

    & svg {
      display: inline-flex;
      margin-right: 15px;
      transform: translateY(3px);
    }

    &:focus svg path {
      fill: $accent;
    }

    &:hover svg path {
      fill: $accent;
    }
  }

  &__list-item {
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__list-link {
    color: $dark;
    font-size: 18px;
    line-height: 1.3;
  }
}

.address {
 

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    color: $dark;
    font-size: 16px;
    line-height: 2;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    &:hover svg {
      stroke: $accent;
    }

    &:active svg {
      box-shadow: 2px 2px 2px 2px rgba(49, 53, 43, 0.50);
      stroke: $dark;
    }
  }

  &__link svg {
    left: 0;
    margin-right: 10px;
    stroke: $dark;
    fill: $body;
    transform: translateY(5px);
    transition: stroke 0.3s;
  }
  .address__loc {
    width: 15px;
    height: 20px;
  }

  .address__call {
    width: 19px;
    height: 19px;
  }

  .address__email {
    width: 20px;
    height: 18px;
  }
}

.social-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: $silver;
    border-radius: 50%;
    transition: background-color 0.3s, fill 0.3s, filter 0.3s;
    &:hover {
      background-color: $btn-bg;
    }
    &:hover svg {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(223deg) brightness(102%) contrast(101%);
    }

    &:active {
      background-color: rgba(255, 174, 148,0.20);
    }
    &:active svg {
      filter: invert(56%) sepia(55%) saturate(832%) hue-rotate(325deg) brightness(100%) contrast(102%);
    }
  }

  &__link svg {
    transform: translateY(3px);
    }
  }


.footer-copy {
  padding: 30px 0;
  border-top: 1px solid #eeeff3;
  text-align: center;

  &__text {
    color: $dark;
    font-size: 14px;
    line-height: 1;
  }
}