<section class="download-app">
  <div class="container">
    <div class="download-app__wrapp">
      <div class="download-app__content">
        <h2 class="title download-app__title">
          Скачайте мобильное приложение
        </h2>
        <div class="download-app__descr">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.
          </p>
        </div>
        <ul class="download-app__list">
          <li class="download-app__item">
            <a class="download-app__link" href="#">
              <img src="images/appstore.jpeg" alt="апсторе">
            </a>
          </li>
          <li class="download-app__item">
            <a class="download-app__link" href="#">
              <img src="images/googleplay.jpg" alt="гуглплей">
            </a>
          </li>
        </ul>
      </div>
      <div class="download-app__images" style="background-image: url('images/sf-app.jpeg');">
      </div>
    </div>
  </div>
</section>