<section class="popular-categories">
  <div class="container">
    <h2 class="title popular-categories__title">Популярные категории</h2>
    <ul class="popular-categories__filter">
      <li class="popular-categories__filter-item">
        <button class="popular-categories__filter-btn btn-default" type="button" data-filter="all">
          <svg class="btn__svg">
            <use xlink:href="images/sprite.svg#burger-filter"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="popular-categories__filter-item">
        <button class="popular-categories__filter-btn btn-default" type="button" data-filter=".category-pizza">
          <svg class="btn__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#pizza-filter"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="popular-categories__filter-item">
        <button class=" popular-categories__filter-btn btn-default" type="button" data-filter=".category-sandwich">
          <svg class="btn__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#sandwich-filter"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular-categories__filter-item">
        <button class="popular-categories__filter-btn btn-default" data-filter=".category-asiafood">
          <svg class="btn__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#asia-filter"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular-categories__filter-item">
        <button class="popular-categories__filter-btn btn-default" type="button" data-filter=".category-set">
          <svg class="btn__svg" width="44" height="44">
            <use xlink:href="images/sprite.svg#set-filter"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="popular-categories__filter-content">
      <li class="popular-categories__item mix category-burgers">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-salat.jpg" width="140" height="140"
              alt="чизбургер с салатом">
          </a>
          <h3 class="product-card__title">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">160 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/bifburger.jpg" width="140" height="140" alt="бифбургер">
          </a>
          <h3 class="product-card__title">
            Бифбургер
          </h3>
          <span class="product-card__price">190 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-king.jpg" width="140" height="140"
              alt="королевский бургер">
          </a>
          <h3 class="product-card__title">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">260 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-asiafood">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/black-burger.jpg" width="140" height="140"
              alt="Черный гамбургер">
          </a>
          <h3 class="product-card__title">
            Черный гамбургер
          </h3>
          <span class="product-card__price"><span>199 грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-salat.jpg" width="140" height="140"
              alt="куринный бургер">
          </a>
          <h3 class="product-card__title">
            Чикен бургер
          </h3>
          <span class="product-card__price">180 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__item mix category-asiafoood">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-salat.jpg" width="140" height="140"
              alt="чизбургер с салатом">
          </a>
          <h3 class="product-card__title">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">160 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/bifburger.jpg" width="140" height="140" alt="бифбургер">
          </a>
          <h3 class="product-card__title">
            Бифбургер
          </h3>
          <span class="product-card__price">190 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-set">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-king.jpg" width="140" height="140"
              alt="королевский бургер">
          </a>
          <h3 class="product-card__title">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">260 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-set">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/black-burger.jpg" width="140" height="140"
              alt="Черный гамбургер">
          </a>
          <h3 class="product-card__title">
            Черный гамбургер
          </h3>
          <span class="product-card__price"><span>199 грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
      <li class="popular-categories__item mix category-sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/card/burger-salat.jpg" width="140" height="140"
              alt="куринный бургер">
          </a>
          <h3 class="product-card__title">
            Чикен бургер
          </h3>
          <span class="product-card__price">180 <span>грн.</span>
          </span>
          <button class="product-card__btn btn-default" type="button">В корзину</button>
        </article>
      </li>
    </ul>
    <a class="popular-categories__more-link link-default" href="#">Показать еще</a>
  </div>
</section>
