<section class="restaurants">
  <div class="container">
    <h2 class="title restaurants__title">
      Лучшие рестораны
    </h2>
    <div class="swiper mySwiper">
      <ul class="restaurants__content swiper-wrapper">
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/blaze-pizza.jpeg" alt="пицца блазе" width="370"
              height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">Blaze Pizza</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  11:00 - 22:00
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/rancho-pizza.jpeg" alt="пицца ранчо" width="370"
              height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">Pizza Runcho</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  12:00 - 21:00
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/hut-pizza.jpeg" alt="пицца хут" width="370"
              height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">Pizza Hut</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  11:00 - 22:00
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/mc-donald.jpeg" alt="МакДональд" width="370"
              height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">McDonald`s</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  06:00 - 23:00
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/kfc.jpeg" alt="КФС" width="370" height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">KFC</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  06:00 - 23:30
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="rest-card">
            <img class="rest-card__img" src="images/restaurends/star-burger.jpeg" alt="стар бургер" width="370"
              height="300">
            <div class="rest-card__footer">
              <h3 class="rest-card__title">Star Burgers</h3>
              <div class="rest-card__time">
                <span class="rest-card__watch">
                  <svg class="rest-card__watch-svg">
                    <use xlink:href="images/sprite.svg#rest-timer"></use>
                  </svg>
                  09:00 - 21:00
                </span>
                <button class="rest-card__btn btn-default">
                  <svg class="rest-card__btn-svg">
                    <use xlink:href="images/sprite.svg#arrow-right-rest-card"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>