<section class="reviews">
  <div class="container">
    <h2 class="title reviews__title">
      Отзывы клиентов
    </h2>
    <ul class="reviews__slider">
      <li class="reviews__slider-item">
        <div class="reviews__slider-inner">
          <img class="reviews__img" src="images/rev-user.jpeg" alt="пользователь" width="300" height="300">
          <div class="reviews__content">
            <blockquote class="reviews__descr">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                на
                доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <cite class="reviews__author">
              Дарья
            </cite>
            <span class="reviews__author-info">
              Ценитель вкусной еды
            </span>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__slider-inner">
          <img class="reviews__img" src="images/rev-user.jpeg" alt="пользователь" width="300" height="300">
          <div class="reviews__content">
            <blockquote class="reviews__descr">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <cite class="reviews__author">
              Дарья
            </cite>
            <span class="reviews__author-info">
              Ценитель вкусной еды
            </span>
          </div>
        </div>
      </li>

      <li class="reviews__item">
        <div class="reviews__slider-inner">
          <img class="reviews__img" src="images/rev-user.jpeg" alt="пользователь" width="300" height="300">
          <div class="reviews__content">
            <blockquote class="reviews__descr">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <cite class="reviews__author">
              Дарья
            </cite>
            <span class="reviews__author-info">
              Ценитель вкусной еды
            </span>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__slider-inner">
          <img class="reviews__img" src="images/rev-user.jpeg" alt="пользователь" width="300" height="300">
          <div class="reviews__content">
            <blockquote class="reviews__descr">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <cite class="reviews__author">
              Дарья
            </cite>
            <span class="reviews__author-info">
              Ценитель вкусной еды
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>