<section class="service">
  <div class="container">
    <div class="service__wrapp">
      <div class="service__img" style="background-image: url(images/sf-delivery.png);">
      </div>
      <div class="service__content">
        <h2 class="title service__title">
          Оставайтесь дома,<br>
          а мы позаботимся о еде
        </h2>
        <div class="service__descr">
          <p>
            У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас
            и
            получите скиидку!
          </p>
        </div>
        <ul class="service__list">
          <li class="service__item">
            <svg fill="#ff6838" width="34" height="34">
              <use xlink:href="images/sprite.svg#timer-icon"></use>
            </svg>
            Быстрая доставка за 15 минут
          </li>
          <li class="service__item">
            <svg fill="#00aaff" width="34" height="34">
              <use xlink:href="images/sprite.svg#delivery-icon"></use>
            </svg>
            Вежливые курьеры
          </li>
          <li class="service__item">
            <svg fill="#ff2222" width="34" height="34">
              <use xlink:href="images/sprite.svg#resturent-icon"></use>
            </svg>
            Более 500 заведений
          </li>
        </ul>
        <a href="#" class="service__btn btn-default">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>